@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>strona startowa</p>
    <p>informacje o stronie</p>
    <p>okienko logowanie</p>
    <p>informacje pomocnicze na temat strony</p>
</div>