@model LearningService.WebApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <p>strona startowa</p>
    <p>pokaz ostatnie utworzone posty przez Ciebie</p>
    <p>pokaz kursy, w których ostatnio brałeś udział</p>
    <p>pokaz informację, :dostałeś maila</p>
</div>