<ul class="nav nav-pills nav-stacked" style="margin-top: 20px;">
    <li role="presentation"><a href="@Url.Action("Index")">Informacje o koncie</a></li>
    <li role="presentation"><a href="@Url.Action("Edit")">Edycja konta</a></li>
    <li role="presentation"><a href="@Url.Action("ChangePassword")">Zmiana hasła</a></li>
    <li role="presentation"><a href="@Url.Action("Activities")">Historia aktywności</a></li>
</ul>