@{
    ViewBag.Title = "Twoje aktywności";
}

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_LeftSettingMenuOptions")
    </div>
    <div class="col-md-8">
        <h2>Twoje aktywności</h2>
        <hr />
        <p>Do przemyślenia co tutaj ma być, dodać nową tabelę i zapisywać za każdym razem, w zależności co zrobiłeś, pokazać listę kursów w których bierzesz udział, które stworzyłeś</p>
    </div>
</div>