@model LearningService.WebApplication.Models.User.UserViewModel
@{
    ViewBag.Title = "Zarządzanie kontem";
}

<h2>Zarządzanie kontem</h2>
<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    informacje o koncie
    <ul>
        <li>imie</li>
        <li>nazwisko</li>
        <li>adres email</li>
        <li>ilość artykułów</li>
        <li>ilość kursów</li>
    </ul>
    <p>do prawej stronie czy lewej mozna by umiescic jakies informacje w stylu : prywatność: czy twój email ma się wyświetlać jako twórca</p>
    <p>np aktywność, tutaj wyświetlić, stworzyłes takie kursy, przeczytałeś takie posty, dostałeś tyle maili</p>
    <p>do przemyślenie zmiana adresu email do korenspondecji (pytanie czy myślimy o sytuacji, kiedy użytkownik nie będzie chciał podawać adresu e-mail do siebie, z drugiej strony niekoneicznie użytkownik musi widzieć jaki adres email jest twórcy kursu i wteyd nei musi odpowiadac na maila)</p>
    @Html.ActionLink("Edycja konta", "Edit", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Zmiana hasła", "ChangePassword", null, new { @class = "btn btn-default" })
</div>