@model IEnumerable<LearningService.WebApplication.Models.Article.ArticleBaseViewModel>
<style>
    input {
        background: none;
        border: none;
        text-decoration: none;
        cursor: pointer;
    }
</style>
@foreach (var item in Model)
{
    <tr class="shadow-normal">
        <td>@Html.DisplayFor(modelItem => item.Headline)</td>
        <td>@Html.Raw(item.ContentShortened)</td>
        <td>@Html.ActionLink("Edycja", "Edit", new { articleId = item.Id })</td>
        <td>
            @using (Html.BeginForm("Delete", "Article", new { articleId = item.Id }, FormMethod.Post, null))
            {
                <input type="submit" value="Usuń" class="text-danger" />
            }
        </td>
    </tr>
}
