@model IEnumerable<LearningService.WebApplication.Models.Article.ArticleBaseViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="margin-top-md">
    @Html.ActionLink("Stwórz nowy", "Create", null, new { @class = "btn btn-default" })
</div>

<table class="table-row-collapse infinite-scroll">
    <thead>
        <tr class="shadow-normal">
            <th>@Html.DisplayNameFor(model => model.Headline)</th>
            <th>@Html.DisplayNameFor(model => model.ContentShortened)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_ArticleData", Model)
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        
    </script>
} 