@model IEnumerable<LearningService.WebApplication.Models.Article.ArticleBaseViewModel>

@{
    ViewBag.Title = "Artykuły innych";
}
<style>
    .flex-container {
        flex-wrap: wrap;
    }

    .flex-item {
        margin-top: 25px;
    }
</style>

<h3>Artykuły</h3>

<div id="courseAll">
    <div class="flex-container">
        @foreach (var article in Model)
        {
            <div class="flex-item flex-item-big">
                <div class="flex-item-connector flex-item-green shadow-normal">
                    <div class="flex-item-header">@article.Headline</div>
                    <div class="flex-item-content">@article.ContentShortened</div>
                    <div class="flex-item-footer">
                        @Html.ActionLink("Szczególy", "Show", "Article", new { articleId = article.Id }, null)
                    </div>
                </div>
            </div>
        }
    </div>
</div>