body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-input-full-width input,
.form-input-full-width select,
.form-input-full-width textarea {
    max-width: 100%;
}

.navbar-inverse{
    background-color: #eee;
    border-color: #eee;
}

.nav a:hover {
    color: black;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: black;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: black;
}

.margin-top-md {
    margin-top: 20px;
}

.shadow-normal {
    box-shadow: 0 10px 20px rgba(0,0,0, 0.1);
}

.font-italic {
    font-style: italic;
}

.table-row-collapse thead {
    border-collapse: collapse;
}

.table-row-collapse {
    border-collapse: separate;
    border-spacing: 0px 25px;
}

    .table-row-collapse tr {
        box-shadow: 0 10px 20px rgba(0,0,0, 0.1);
    }

    .table-row-collapse th,
    .table-row-collapse td {
        padding: 15px;
    }

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.flex-item {
    height: 150px;
    padding: 5px 25px 0 0;
}


.flex-item-connector {
    border: 1px #dddddd solid;
}

    .flex-item-connector.flex-item-green {
        border: 1px #d6e9c6 solid;
    }

    .flex-item-connector.flex-item-blue {
        border: 1px #bce8f1 solid;
    }

    .flex-item-big {
        width: 30%;
    }

.flex-item-small {
    width: 10%;
    height: 75px;
    padding-right: 0px;
}

.flex-item-header,
.flex-item-footer {
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    border-bottom: 1px #dddddd solid;
    background-color: #f5f5f5;
}

    .flex-item-header {
        font-weight:600;
    }

    .flex-item-green .flex-item-header {
        border-bottom: 1px #d6e9c6 solid;
        background-color: #dff0d8;
        color: #3c763d;
    }

.flex-item-green .flex-item-footer {
    border-bottom: none;
    border-top: 1px #dddddd solid;
    color: #3c763d;
}

.flex-item-blue .flex-item-header {
    border-bottom: 1px #bce8f1 solid;
    background-color: #d9edf7;
}

.flex-item-blue .flex-item-footer {
    border-bottom: none;
    border-top: 1px #dddddd solid;
}


.flex-item-content {
    height: 100px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.homePageBorderSeparator {
    margin: 15px;
}

.flex-item-see-all span {
    display: block;
}

.flex-item-see-all {
    background-color: transparent;
    border: none;
    padding: 8px;
}

#courseAll .flex-item {
    height: 200px;
}

#courseAll .flex-item-small {
    height: 100px;
}