@model LearningService.WebApplication.Models.Lesson.LessonTheoryExamViewModel

<div class="form-group">
    @Html.Hidden("Options.Id", 0, new { @class = "optionId" })
    @Html.CheckBoxFor(x => x.Options.LastOrDefault().Selected, new { @class = "optionCheckBox" })
    @Html.TextBoxFor(x => x.Options.LastOrDefault().Name, new { @class = "optionName" })
</div>
