@model LearningService.WebApplication.Models.Lesson.LessonPracticalExamLearningViewModel
@{
    ViewBag.Title = "Zdany egzamin praktyczny";
}

<h2>@Model.Headline</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />

        <p>Egzamin zdany</p>
        <div class="panel panel-default">
            <div class="panel-heading">Treść zadania</div>
            <div class="panel-body">@Html.Raw(Model.LessonContent)</div>
        </div>
    </div>
}

@Html.ActionLink("Powrót", "CourseOverwiew", "Course", new { courseId = Model.CourseId }, new { @class = "btn btn-default", @style = "margin-top: 10px;" })